body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* shared style */
.btn-primary {
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 20px 26px;
}
/* header styles */
.banner-container {
  position: relative;
}
.banner-text {
  position: absolute;
  top: 0;
  padding: 120px 30px 160px 986px;
}
.banner-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 0;
}
.banner-description {
  color: #444343;
  margin-top: 20px;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.contact-btn {
  margin: 23px 0px 0px 340px;
}
/* main style */
main {
  margin: 140px 230px 0px 230px;
}
.history-container {
  display: flex;
}
.profile-pic {
  width: 451px;
  height: 898px;
  flex-shrink: 0;
}
.history {
  margin: 140px 10px 200px 300px;
}
.history-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.history-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.my-plan-container {
  display: flex;
  gap: 99px;
  text-align: center;
}
.my-plan-title {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}
.my-plan-description {
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

/* style call-now section */
.call-now-text {
  position: relative;
  border-radius: 8px;
  background: url(../images/watch.png);
  width: 100%;
  height: 300px;
  margin-top: 130px;
  margin-bottom: 130px;
  background-repeat: no-repeat;
  border-radius: 8px;
 
}
.call-now-description{
  position: absolute;
  border-radius: 8px;
  height: 300px;
  width: 100%;
  background: linear-gradient(60deg, #F15B22 0%, rgba(224, 143, 111, 0) 100%);
  background-blend-mode: overlay;

}
.call-now-title{
  width: 459px;
  margin-top: 0;
  color: #FFF;
font-size: 40px;
font-weight: 700;
padding: 55px 0px 0px 64px;
}
.call-now-btn {
  border-radius: 5px;
  background: #fff;
  color: #f15b22;
  margin-bottom: 20px;
  margin-left: 64px;
  /* padding: 0px 0px 50px 64px; */
}
/* footer style */

.footer-container {
  background: #151414;
  color: #fff;
  display: flex;
  width: 1140px;
  height: 577px;
  padding: 130px 230px;
}
.footer-description {
  font-size: 16px;
  font-weight: 400;
  width: 485px;
}
#input-email {
  border-radius: 8px;
  border: 1px solid #fff;
  width: 325px;
  height: 64px;
  margin-top: 30px;
  margin-bottom: 16px;
  padding-left: 24px;
  background-color: #151414;
}
.footer-input {
  display: block;
  margin-left: 300px;
  padding: 18px 30px;
}
.footer-title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0;
}
.footer-icon a {
  width: 175px;
  height: 46px;
  padding-right: 20px;
}
.footer-input-title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
